<div class="container">

<%= link_to 'Voltar' , vehicle_brands_path ,  class: "btn btn-default fa fa-angle-left" %>
<br><br>


<div class="well">

<h1 align="center"><%= @vehicle_brand.name %></h1>
<hr>
	<h1 align="center"><%= @vehicle_name.name %></h1>
	<h1 align="center"><%= @vehicle_name.year %></h1>
	<hr>
	<p align="center"><%= @vehicle_name.obs %></p>

	
</div>


<hr>
<div id="comment" class="well">
<%= render 'comments/form' %>
</div>


	<%= render partial: 'comentarios' %>


	


</div>


